body {
  background-color: blueviolet;
}
p {
  color: chartreuse;
}
h2 {
  text-align: center;
  color: coral;
}
.testing {
  border-style: double;
  border-color: mediumspringgreen;
  padding-left: 15px;
  padding-top: 1px;
  margin-right: 40%;
  font-size: 35px;
}
h3 {
  color: darkkhaki;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: right;
}
